<header class="top">
  <div class="container">
    <a href="/" class="logo"
       (click)="toFeed($event)">
      ПолиХабр
    </a>
  </div>
</header>
<div class="background">
  <div class="layout">
    <div class="content">
      <h1 class="title">Вход</h1>
      <div class="form login">
        <div class="title">E-mail</div>
        <input type="login">
      </div>
      <div class="form password">
        <div class="title">Пароль</div>
        <input type="password">
      </div>
      <button class="enter">Войти</button>
      <a class="forgot_password">Забыли пароль?</a>
    </div>
  </div>
  <div class="layout no_account">
    <div>Еще нет аккаунта?</div>
    <a href="/register" (click)="toRegister($event)">Зарегистрируйтесь</a>
  </div>
</div>
