<poly-header></poly-header>
<div class="container">
  <div class="sub-header">Настройки</div>
  <div class="content">
    <div class="form nickname">
      <div class="title">Никнэйм</div>
      <input type="text">
    </div>
    <div class="form email">
      <div class="title">E-mail</div>
      <input type="email">
    </div>
    <div class="form old-password">
      <div class="title">Старый пароль</div>
      <input type="password">
    </div>
    <div class="form new-password">
      <div class="title">Новый пароль</div>
      <input type="password">
    </div>
    <div class="form confirm-password">
      <div class="title">Подвтерждение пароля</div>
      <input type="password">
    </div>
    <button>Сохранить изменения</button>
  </div>
</div>
