<header>
  <div class="top">
    <div class="container">
      <div class="logo link">
        <span>Поли</span>Хабр
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="menu">
        <div class="link">
          Мои публикации
        </div>
        <div class="link">
          Все публикации
        </div>
      </div>
      <div class="actions">
        <div class="button-icon link">
          <svg height="24" width="24">
            <title>Поиск</title>
            <use xlink:href="assets/images/icons/icon-set.svg#search"></use>
          </svg>
        </div>
        <div class="button-icon link">
          <svg height="24" width="24">
            <title>Новая публикация</title>
            <use xlink:href="assets/images/icons/icon-set.svg#write"></use>
          </svg>
        </div>
        <div class="profile link">
          <img src="https://hsto.org/getpro/habr/avatars/d5d/8a0/34b/d5d8a034b439c9e5937c6ba18a137252.png"/>
        </div>
      </div>
    </div>
  </div>
</header>
