<header>
  <div class="top">
    <div class="container">
      <a href="#" class="logo">
        ПолиХабр
      </a>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <div class="menu">
        <a href="#">
          Мои публикации
        </a>
        <a href="#">
          Все публикации
        </a>
      </div>
      <div class="actions">
        <a href="#" class="button-icon">
          <svg height="24" width="24">
            <title>Поиск</title>
            <use xlink:href="assets/images/icons/icon-set.svg#search"></use>
          </svg>
        </a>
        <a href="#" class="button-icon">
          <svg height="24" width="24">
            <title>Новая публикация</title>
            <use xlink:href="assets/images/icons/icon-set.svg#write"></use>
          </svg>
        </a>
        <a href="#" class="profile">
          <img src="https://hsto.org/getpro/habr/avatars/d5d/8a0/34b/d5d8a034b439c9e5937c6ba18a137252.png"/>
        </a>
      </div>
    </div>
  </div>
</header>
